body {
  height: 100%;
  font-family: sans-serif;
  background-image: url("./img/pottery-md.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.container {
  margin-top: 75px;
}

.large {
  font-size: 200%;
}

.top-margin {
  margin-top: 15px;
}
